<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users</title>
</head>
<body>
    <div class="container">
        <p>List of all Users </p>

        <ul>
            {{#each users}}
            <li>
                <div>name: {{email}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
    
</body>
</html>